.education__container {
  display: grid;
  flex-direction: colum;
  grid-auto-flow: dense;
  text-align: center;
  overflow: hidden;
  gap: 1.2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.education__container h5 {
  display: flex;
  color: var(--color-primary);
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  /* width: 100%; */
}
.education__area {
  background-color: var(--color-bg-variant);
  border-radius: 1rem;
  padding: 0.1rem;
  margin: 0.1rem;
  height: fit-content;
  /* border: 1px solid var(--color-primary); */
}
 .education__area h5{
    display: flex;
    flex-direction: row;
    gap:1rem;
    font-size: 1.2rem;
    justify-content: center;
} 
.education__content {
  display: flex;
  flex-direction: row;
  row-gap: 0.1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.skills{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.education__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  margin: 0 auto;
  border: 1px solid transparent;
  transition: var(--transition);
  background: var(--color-bg);
  border-radius: 1rem;
  align-items: center;
  width: fit-content;
  padding: 0.5rem;
}
.education__item a {
  color: var(--color-primary);
  text-decoration: none;
  text-align: center;
  transition: var(--transition);
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}
/*
.education__item:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
  color: var(--color-primary-variant);
}
*/
.education__item a:hover {
  background: var(--color-primary);
  color: var(--color-bg);
  border-radius: 2rem;
}

.certificado {
  color:className="certificado";
  background: var(--color-bg-variant);
  font-weight: bolder;
  border-radius: 2rem;
  width: 2rem;
  height: 2rem;
}
.nocertificado{
  color:grey;
  background: var(--color-bg-variant);
  font-weight: lighter;
  border-radius: 2rem;
  width: 2rem;
  height: 2rem;
}
.certificado:hover {
  background: var(--color-primary);
  color: var(--color-bg);
}
/* .btn {
  max-width: 2rem;
  max-height: 1rem;
  padding: 0.5rem;
  justify-self: center;
} */
iframe:focus {
  outline: none;
  overflow: hidden;
}

iframe[seamless] {
  display: block;
}
.logo{
  max-width: 10rem;
  max-height: 6rem;
  padding: 0.5rem;
}