.header__container {
  text-align: center;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* position: relative; */
}

/*    CALL TO ACTION*/
.cta {
  /* margin-top: 0.1rem; */
  display: flex;
  gap: 1.3rem;
  justify-content: center;
}

/*    Header socials*/
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  right: 0;
  bottom: 10rem;
}
.header__socials::after {
  content: "";
  width: 1px;
  height: 1rem;
  background-color: var(--color-primary);
}

/* Foto de perfil*/
.foto-perfil {
  width: 10rem;
  border-radius: 50%;
  /* padding: 1rem; */
}


/*QUote*/
.quote {
  padding: 1rem;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  /* font-size: 1.5rem; */
  font-style: italic;
  font-weight: 300;
  color: var(--color-white  );
  text-align: center;
  /* margin-top: 2rem; */
}
.badges{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  }

/*    MEDIA Queries (medium)*/
@media screen and (max-width: 1024px) {
  .container {
    /* background-color: red; */
  }
  header{height: 100vh;}
}
/*    MEDIA Queries (small)*/
@media screen and (max-width: 600px) {
  header{
      height: 100vh;
  }
.quote{
  /* padding: 1rem; */
  padding: 0;
  font-size: 0.75rem;
}
.quote p{
  font-size: 0.8rem;
}
.redes{
  padding:1rem;
  margin:0;
  font-size: large;
}

.badges{
display: flex;
flex-direction: column;
align-items: center;
margin-left: 1.5rem;
}

.header__socials, .scroll__down{
    display: none;
  }
}

