.contact__container {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.contact__cta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 1rem; */
  justify-content: center;
  text-align: center;
}
.contact__item {
  border: 2px solid var(--color-primary);
  border-radius: 1rem;
  margin: auto;
  min-width: 30%;
  background-color: var(--color-bg-variant);
  color: var(--color-bg);
  transition: var(--transition);
}
.contact__item h5 {
  color: var(--color-primary);
  font-size: large;
}
.contact__item:hover {
  background-color: transparent;
  color: var(--color-white);
}

.contact__icon {
  font-size: 4rem;
  color: var(--color-primary-variant);
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.form input {
  border: 1px solid var(--color-primary);
  background: transparent;
  padding: 0.5rem;
  color: var(--color-white);
  /* max-width: 80%; */
  min-width: 50%;
  border-radius: 1rem;
}
.form textarea {
  resize: none;
  border: 1px solid var(--color-primary);
  background: transparent;
  padding: 0.5rem;
  color: var(--color-white);
  /* max-width: 80%; */
  min-width: 50%;
  min-height: 4rem;
  border-radius: 1rem;
}
.form input.boton {
  background: var(--color-primary);
  color: var(--color-bg);
}
.form input.boton:hover {
  background: var(--color-bg);
  color: var(--color-primary);
}
@media screen and (min-width: 600px) {
  .contact__container {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 15rem; */
  }
}
