.experience__container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  grid-template-columns: 1fr;
}
.experience__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 0.5rem; */
  margin: 1rem auto;
  border: 1px solid transparent;
  transition: var(--transition);
  background: var(--color-bg);
  border-radius: 1rem;
  align-items: center;
  width: fit-content;
  /* padding: 0.5rem; */
}
.icon{
  max-height: 45px;
  align-self: bottom;
}
.experience__container > div {
  width:80%;
  
  background: var(--color-bg-variant);
  border-radius: 2rem;
  /* padding: 2rem; */
  margin:0 auto;
  border: 1px solid transparent;
  transition: var(--transition);
}
.experience__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}
.experience__container > div h3 h4 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-primary);
  display: flex;
  gap: 1rem;
  align-items: center;
}

.experience__content {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.experience__details {
  display: flex;
  gap: 0.5rem;
}
.experience__details h4{
  color: var(--color-primary);
  display: flex;
  gap:1rem;
  justify-content: left;
  align-items: center;
}
.experience__details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}
/*Media queries big screens*/
@media screen and (min-width: 1024px) {
  .experience__container {
    display: flex;
    flex-direction: row;
  }

.experience__container > div {
    width:90%;
}
}

.article .li{
  columns: red;
}