.experience__container {
  /* padding-top: 2rem; */
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  gap: 1rem;
  /* min-height: 100vh; */
}

.experience__container > div {
  width:80%;
  
  background: var(--color-bg-variant);
  border-radius: 2rem;
  
  padding: 2rem;
  margin:0 auto;
  border: 1px solid transparent;
  transition: var(--transition);
}
.experience__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}
.experience__container > div h3 h4 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-primary);
  display: flex;
  gap: 1rem;
}

.experience__content {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.experience__details {
  display: flex;
  gap: 0.5rem;
}
.experience__details h4{
  color: var(--color-primary);
  display: flex;
  gap:1rem;
  justify-content: left;
  align-items: center;
}
.experience__details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}
/*Media queries big screens*/
@media screen and (min-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.5rem 0.5rem;
  }

.experience__container > div {
    width:90%;
}
}
