
:root{
/* --negro:#323436; */
--negro:#000000;
--normal:#306fb8;
--claro:#a5cfea; 
--blanco:#ffffff;
}

.App {
  margin: 0;
  text-align: center;
  color: normal;
  font-family: 'Red Hat Display', sans-serif;
}

.App-header {
  background-color: var(--negro);
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-decoration: none;
  top:0;
}
.panel {
  padding: 10px;
}

.container {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-decoration: none;
  background-color: var(--negro);

  width: 100%;
}
.tarjeta {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.footer {
  margin-top: 1rem;
  padding-top: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.icon {
  width: 2rem;
}
.big-icon {
  height: 3rem;
  align-items: center;
}

.logo {
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 2rem;
  height: 2rem;
}
.enlace{
  color:var(--blanco);
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.2rem;
  padding-left:1rem;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
}
.enlace:active{
  color: var(--claro);
}
.enlace:hover{
  color: var(--normal);
}
/* fondo de pantalla */
.body {
  margin: 0;
  /* background-image: url(images/lapaz.jpg); */
  /* reescala */
  background-size: cover;
  /* imagen centrada */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--negro);
  height: 100vh;
  text-decoration: none;
}
.perfil{
  padding: 3rem;
}
.foto-perfil{
  width: 7rem;
  border-radius: 50%;
  
}
.titulo{
  font-size: 3rem;
  font-weight: bolder;
color:var(--normal);
}
.subtitulo{
  font-size: 1.5rem;
  color: var(--claro);
}
.parrafo{
  font-size: 1.2rem;
  color: var(--claro);
  padding: 1%;
}
.titulo-descripcion{
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--normal);
}
.texto-descripcion{
  font-size: 1.1rem;
  color: var(--claro);
  padding-bottom: 1rem;
}
.descripcion{
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}
.opcion{
  padding-left: 10px;
}
.opcion:active a{
  background-color: var(--claro);
  color:var(--claro)
}
.imagen{
  /* min-width: 200px; */
  max-width: 50%;
  max-height: 30%;
  padding: 0.5rem;
  object-fit: contain;
}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}
.tr{
  color:var(--claro)
}
.tabla{
  color:var(--claro)
}